* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-size: .95em;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    width: 100%;
    background-color: cornflowerblue;
}

header h1 {
    margin: 0;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1, h2 {
    font-weight: 400;
}

h1 {
    font-size: 1.8em;
}

h2 {
    padding: 10px;
    background-color: #2d2d2d;
    color: #fff;
    font-size: 1.25em;
}

h3 {
    padding: 5px;
    background-color: #eee;
}

button {
    all: unset;
    background-color: cornflowerblue;
}

a {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
    color: cornflowerblue;
}

button a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

button:disabled {
    background-color: rgba(100, 149, 237, 0.56);
}

ul {
    padding-left: 20px;
}

li {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-size: .85em;
}

li .property {
    display: inline-block;
    min-width: 100px;
    margin-right: 5px;
}

form {
    background-color: lightblue;
    padding: 10px;
}

form h4 {
    margin: 0 0 10px;
}

#nprogress .bar {
    height: 3px;
    background-color: #fff;
}

#nprogress .peg {
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.notification-bar {
    padding: 10px;
    width: 100%;
    background: #eee;
    color: #fff;
    font-size: 12px;
}

.notification-bar.error {
    background: orangered;
}

.content {
    padding: 0 15px;
    width: 100%;
    max-width: 1000px;
    text-align: left;
}

.content.page {
    margin-bottom: 20px;
}

.fetch-form {
    margin-bottom: 10px;
}

.timeout-form .inner {
    display: flex;
    justify-content: flex-start;
}

.timeout-form div:not(:last-child) {
    margin-right: 20px;
}

.subheader, .footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #eee;
}

.footer {
    margin-top: auto;
}

.footer .content {
    text-align: center;
}

.subheader .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #5c5c5c;
    font-size: .85em;
}

.description {
    margin-top: 20px;
    color: #a9a9a9;
}

.description a {
    color: #888888;
}

@media only screen and (min-width: 1024px) {
    body, html, li {
        font-size: 1em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .content {
        padding: 0 20px;
        width: 50%;
    }

    .content.inner {
        width: 100%;
    }

    .subheader, .footer {
        padding: 30px 20px;
        width: 100%;
    }
}
